pytest
pandas
fastapi
python-multipart
python-dotenv
uvicorn
rapidfuzz
google-auth
requests
chromadb
sentence-transformers
beautifulsoup4
extruct
w3lib
playwright
fake-useragent
tenacity
structlog
pydantic
lxml
PyYAML
xgboost
neo4j
